<div id="<%= dom_id course %>">
<div class=" card border p-2 rounded-lg">

  <div class="my-5 font-semibold">    
    <%= course.title %>
  </div>

  <div class="p-2">
    <%= truncate(strip_tags(course.content.to_s.html_safe), length: 200) %>
    
  </div>

  <% if action_name != "show" %>
    <%= link_to "Afficher plus", course, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Modifier', edit_course_path(course), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
</div>
